html, body
  height 100%
  margin 0
  padding 0

body
  // the apple system font is "San Fransisco ... :)"
  // hat tip: https://stackoverflow.com/questions/32660748/how-to-use-apples-new-san-francisco-font-on-a-webpage
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
