<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>San Francisco Film Locations</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- load angular and angular-filter via npm -->
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-filter/dist/angular-filter.js"></script>
    <!-- load google maps api -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvZY1V5Fxp3Z7Mifb_0v3yEgpmHaizJWk"></script>
  </head>
  <body class="container" ng-app="FilmApp" ng-controller="FilmCtrl">

    <h1>San Francisco Film Locations</h1>

    <input type="text" ng-model="filmSearch" list="filmSearchData"> <a href="" ng-click="updateMap(filmSearch)">Show Results</a>
    <datalist id="filmSearchData">
      <option  ng-repeat="film in films | unique: 'title' | orderBy: 'title'" value="{{film.title}}">
    </datalist>

    <div id="map_canvas"></div>

    <!-- load scripts -->
    <script src="js/main.js"></script>
    <!-- <script src="js/geocode.js"></script> -->

  </body>
  </html>
