<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>San Francisco Film Locations</title>
    <link rel="stylesheet" href="css/main.css">

    <!-- load angular, jquery, google maps via cdn. todo: load via npm -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvZY1V5Fxp3Z7Mifb_0v3yEgpmHaizJWk"></script>
  </head>
  <body class="container" ng-app="FilmApp" ng-controller="FilmCtrl">

    <h1>San Francisco Film Locations</h1>

    <select id="" ng-model="selectedFilm" ng-change="updateMap(selectedFilm)">
      <option ng-if="film.locations"
              ng-repeat="film in films | unique: 'title' | orderBy: 'title'"
              value="{{film.title}}">{{film.title}}

      </option>
    </select>

    <p>Search: <input type="text" ng-model="filmSearch" class="form-control"></p>

    <div id="map_canvas"></div>

    <!-- load scripts -->
    <script src="js/main.js"></script>
    <!-- <script src="js/geocode.js"></script> -->

  </body>
  </html>
